*div{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --v-bgcolor-suscripcion: none;
    --v-background-apertura: #000;
    --v-background-txt: none;
    --v-colortext-suscripcion: #FECE00;
    --v-titlesize-widget: 22px;
    --v-subtitlesize-widget: 16px;
    --v-authorsize-widget: 12px;
    --v-aligntext-text: center;
    --v-colortext-title: #000;
    --v-colortext-subtitle: #3D3D3D;
    --v-colortext-author: #3D3D3D;
    --v-content-icon: none;
    --v-width-icon: 62px;
    --v-background-icon: none;
    --v-background-size-icon: 50%;
    --v-border-icon: 1px solid #707070;
    --v-background-fallback-icon: #FFF;
    --v-bgcolor-article-header: #FFF;
    --v-colortext-title-article-header: #000;
    --v-colortext-subtitle-article-header: #3D3D3D;
    --v-colortext-date-article-header: #6C6C6C;
    --v-colortext-actions-article-header: #6C6C6C;
    --v-paddingbottom-breadcrumb-mobile: 0;
    --v-paddingbottom-breadcrumb-tablet: 0;
    --v-paddingbottom-breadcrumb-laptop: 0;
    --v-content-article-header: none;
    --v-colortext-nombre-article-header: #3D3D3D;
    --v-contenttext-text: none;
    --v-border-bottom: 0;
    --v-contenttext-size: 12px;
    --v-contenttext-weight: 700;
    --v-contenttext-color: #FECE00;
    --v-content-gradient: none;
    --v-article-margin-thumb: 0 0 28px 0;
    --v-article-margin-thumb-tablet: 0 0 40px 0;
    --v-article-width-img: -60px;
    --v-article-marginleft-img: calc(var(--v-article-width-img) / 2);
    --v-margin-top-article-txt: 0;
    --v-padding-bottom-extra: 0;
    --v-display-widget: inline-block;
    --v-align-article-txt: left;
    --v-padding-article-txt: 0 15px 15px 15px;
    --v-margin-article-header: 0 0 20px 0;
    --v-gradient-exclusive: transparent;
    --v-checkbox-height: 38px;
    --v-min-height-buscador: 50px;
    --v-font-size-buscador-tablet: 24px;
    --v-icon-size-buscador-tablet: 20px;
    --v-opacity: .6;
    --height-video: 32px;
    --padding-extra: 45px;
    --position-left: 0;
    --position-right: unset;
    --position-top: var(--padding-extra);
    --position-bottom: unset;
    --vid-top: calc(56.25vw + var(--padding-extra));
    --vid-right: var(--position-right);
    --vid-bottom: unset;
    --vid-left: var(--position-left);
    --vid-mwid: 100%;
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #000;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}